body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #915ed9;
    background-image: url(images/tubescope13.jpg);
    margin: 0px;
}

.content {
    background-color: #f2cfd3;
	margin: 100px;
	padding-top: 10px;
	border: thin;
	border: solid #56cfe2;
	min-height: 300px;
}

.textblock {
    width:80%;
	margin-left:auto;
	margin-right:auto;
}

A:active {
	COLOR: #57cfe2;
}

A:unknown {
	COLOR: #FF9517;
}

A:hover {
	COLOR: #57cfe2;
}

A:link {
	COLOR: #57cfe2;
}

A:visited {
	COLOR: #39c78d;
}

.centered {
    text-align:center;
}
