html {
	scrollbar-face-color:#c5c9b5;
	scrollbar-highlight-color:#A29A82;
	scrollbar-3dlight-color:#C8A694;
	scrollbar-darkshadow-color:#333333;
	scrollbar-shadow-color:#646464;
	scrollbar-arrow-color:#fe693c;
	scrollbar-track-color:#C8A694;
}

body {
	scrollbar-face-color:#c5c9b5;
	scrollbar-highlight-color:#A29A82;
	scrollbar-3dlight-color:#C8A694;
	scrollbar-darkshadow-color:#333333;
	scrollbar-shadow-color:#646464;
	scrollbar-arrow-color:#fe693c;
	scrollbar-track-color:#C8A694;
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #a3a897;
	color: #000000;
	background-image:url(lesson20/bkg1.jpg);
	margin:50px;
	padding:0;
}

table {
	height:100%;
	width:100%;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

A:link {
	color: #007a77;
	text-decoration:none;
}

A:visited {
	color: #8639a5;
	text-decoration:none;
}

A:hover {
	color: #007a77;
	text-decoration:none;	
}

A:active {
	color: #fe693c;
	text-decoration:none;
}
