*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height:1.5;
	color: #4b1b67;
	background-color: #bdc6ed;
	background-image: url(../lesson3/bkg1.jpg);
	margin:64px;
}

main {
	padding:2rem;
	background-color:#bdc6ed;
}

main p {
	max-width:55rem;
	margin:0.5rem auto;
}

main ol {
	max-width:55rem;
	margin:1rem auto;
	padding-left:5rem;
}

.bkg2 {
	background-image: url(../lesson3/bkg2.jpg);
	padding:50px;
}

.bkg3 {
	background-image: url(../lesson3/bkg3.jpg);
	padding:50px;
}

.narrow {
	background-image: url(../lesson3/bkg4.jpg);
	padding: 10px;
}

a:link {
	color: #80a850;
}

a:visited {
	color: #825da3;
}

a:hover {
	color: #80a850;
	
}

a:active {
	color: #80a850;
}

.title {
	display:block;
	width:450px;
	height:auto;
	margin:0.5rem auto;
}

.centered {
	text-align:center;
}

.palette {
  display:block;
  width:156px;
  height:32px;
  margin:0 auto;
}

.bar {
  display:block;
  width:268px;
  height:84px;
  margin:0 auto;
}

nav {
  display:flex;
  flex-direction:row;
  justify-content:center;
}

footer {
  margin:0.5rem;
  text-align:center;
}