html {
	font-size: 62%;
	height: 100%;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #a3a897;
	color: #caf0fe;
	background-image: url(../lesson20/blues_01.jpg);
	margin: 50px;
	padding: 0;
}

a:link:not(nav) {
	color: #007a77;
	text-decoration: none;
}

a:visited:not(nav) {
	color: #8639a5;
	text-decoration: none;
}

a:hover:not(nav) {
	color: #007a77;
	text-decoration: none;
}

h1 {
	font-family: 'Ruge Boogie', cursive;
	font-size: 5rem;
	text-align: center;
	margin: 0
}

.outer {
	/* background-image: url(../lesson20/bkg2.jpg); */
	background-color: #004d65;
	padding: 10px;
	border-radius: 5px;
}

.middle {
	background-image: url(../lesson20/blues_01.jpg);
	padding: 50px;
	border-radius: 5px;
}

.inner {
	/* background-image: url(../lesson20/bkg2.jpg); */
	line-height: 1.5;
	background-color: #004d65;
	color: #caf0fe;
	padding: 25px;
	border-radius: 5px;
}

.title {
	display: block;
	width: 300px;
	height: 292px;
	margin: 0.5rem auto;
}

.bar {
	display: block;
	width: 265px;
	height: 29px;
	margin: 1rem auto;
}

main {
	max-width: 60rem;
	margin: 1rem auto;
}

footer {
	text-align: center;
}

.btn {
	box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba', GradientType=0);
	background-color: #ededed;
	border-radius: 15px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #3a8a9e;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}

.btn:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed', GradientType=0);
	background-color: #bab1ba;
}

.btn:active {
	position: relative;
	top: 1px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1rem auto;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}